# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.db3
*.v2
.suo
*.exe
*.dll
*.jpg
*.png
*.so
*.dylib
*.cache
*.CopyComplete
*.editorconfig
*.pdb
Varyl.csproj.FileListAbsolute.txt
VarylExtensions/*
/.vs/Varyl/v17/.futdcache.v1
/FoxMath/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Render/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/FastNoise/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/FoxMath/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Varyl/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/.vs/Varyl/v17/TestStore/0/000.testlog
/.vs/Varyl/FileContentIndex/1d47a3c4-b670-467b-bf19-939e30382354.vsidx
/.vs/Varyl/FileContentIndex/32b31458-3077-41d9-a1f7-09600d9290cd.vsidx
/.vs/Varyl/FileContentIndex/5188e59c-aaf6-411e-a8af-bafd850625e5.vsidx
/.vs/Varyl/FileContentIndex/92996c7a-798b-42da-9570-ab20c5c559b6.vsidx
/MTParser_demo/_MTParserPlugin.tlb
/FastNoise/obj/Debug/netcoreapp3.1/FastNoise.AssemblyInfo.cs
/FastNoise/obj/Debug/netcoreapp3.1/FastNoise.csproj.BuildWithSkipAnalyzers
/FastNoise/obj/Debug/netcoreapp3.1/FastNoise.csproj.FileListAbsolute.txt
/FastNoise/bin/Debug/netcoreapp3.1/FastNoise.deps.json
/FoxMath/obj/Debug/netcoreapp3.1/FoxMath.AssemblyInfo.cs
/FoxMath/obj/Debug/netcoreapp3.1/FoxMath.csproj.BuildWithSkipAnalyzers
/FoxMath/obj/Debug/netcoreapp3.1/FoxMath.csproj.FileListAbsolute.txt
/FoxMath/bin/Debug/netcoreapp3.1/FoxMath.deps.json
/MTParser_demo/MTDatePlugin.xml
/MTParser_demo/MTNumAlgoPlugin.xml
/MTParser_demo/MTParserGen.xml
/Render/obj/project.assets.json
/.vs/Varyl/FileContentIndex/read.lock
/Render/obj/Debug/netcoreapp3.1/Render.AssemblyInfo.cs
/Render/Render.csproj
/Render/obj/Render.csproj.nuget.dgspec.json
/Render/obj/Render.csproj.nuget.g.props
/Render/obj/Render.csproj.nuget.g.targets
/.vs/Varyl/v17/TestStore/0/testlog.manifest
/Varyl/obj/Debug/netcoreapp3.1/Varyl.csproj.BuildWithSkipAnalyzers
/Varyl/obj/Debug/net48/Varyl.exe.withSupportedRuntime.config
/Varyl.sln.DotSettings.user
/FoxMath/Vector/Vectors.cs
/Render/Window.cs
