# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.db3
*.v2
.suo
*.exe
*.dll
*.jpg
*.png
*.so
*.dylib
*.cache
*.CopyComplete
*.editorconfig
Varyl.csproj.FileListAbsolute.txt
